:root {
  --main-padding-top: 40px;
  --main-padding-bottom: 40px;
  --main-padding-left: 40px;
  --main-padding-right: 40px;
}

@media (min-width: 1400px) {
  :root {
    --main-padding-top: 80px;
    --main-padding-bottom: 80px;
    --main-padding-left: 200px;
    --main-padding-right: 200px;
  }
}
