$background: #181818;

$grey-50: #f8f9fa;
$grey-100: #f1f3f5;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #868e96;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;

$font-color: #fff;
$font-color-muted: #999;
$font-color-emphasized: #fbfbfb;

$font-family-text:
  'Inter',
  -apple-system,
  BlinkMacSystemFont,
  Avenir,
  Helvetica,
  Arial,
  sans-serif;
$font-family-heading:
  'Gabarito',
  -apple-system,
  BlinkMacSystemFont,
  'Inter',
  Avenir,
  Helvetica,
  Arial,
  sans-serif;

$line-height: 1.5;

$transition-fast: 0.15s ease;
$transition-medium: 0.3s ease;
$transition-slow: 0.5s ease;

// == Layout ==

$navbar-height: 60px;
