.countTotal {
    color: black;
    font-weight: 600;
    text-align: center;
}

.btnContainer {
    display: flex;
    gap: 2px;

    & > button {
        color: white;
        padding: 4px 6px;
        border-radius: 4px;
        cursor: pointer;
    }

    .increment {
        background-color: #4caf50;
        &:hover {
            background-color: #388e3c;
        }
    }

    .decrement {
        background-color: #f44336;
        &:hover {
            background-color: #d32f2f;
        }
    }
}